Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

Use latest changes from `nucypher-core` for required UserOperation parameters. Update tests accordingly.
  dev-requirements.txt
  examples/testnet_simple_signing.py
  requirements.txt
  tests/acceptance/actors/test_signing_ritual.py
  tests/unit/test_erc4337_utils.py
  tests/utils/erc4337.py
Labels: Demos, Dependencies

AA version is a string not the enum.
  nucypher/utilities/erc4337_utils.py
Labels: none

Don't use private python bindings from `nucypher-core` for testing; they will be removed from `nucypher-core` and we can write those checks in python ourselves for testing.
  tests/unit/test_erc4337_utils.py
Labels: none

crafting a simulated discord payload compunded with ecdsa condition
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

expands sequential condition testing to demo concatenation of context params passed into ECDSA vars.
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

Use latest update for `SignatureResponse` from `nucypher-core` which now includes signer address.
  dev-requirements.txt
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/concurrency.py
  requirements.txt
  tests/acceptance/actors/test_signing_ritual.py
Labels: Dependencies

Additional unit tests to improve code coverage.
  tests/unit/test_signing_request.py
Labels: none

Add feature newsfragment for #3646.
  newsfragments/3646.feature.rst
Labels: none

Update to latest `nucypher-core` commit. Ensure optional fields return None when not set.
  dev-requirements.txt
  requirements.txt
  tests/unit/test_erc4337_utils.py
Labels: Dependencies

Add user op processing test to test packing without paymaster data.
  tests/acceptance/actors/test_user_op_processing.py
Labels: none

Use ThresholdSigningPower subclass instead of TransactingPower when signing signature requests.
  nucypher/blockchain/eth/actors.py
  nucypher/network/signing.py
  tests/unit/test_signing_request.py
Labels: none

Clean up logic for signing request data based on request provided.
  nucypher/network/signing.py
Labels: none

Draft for AtLeastCompoundCondition
  nucypher/policy/conditions/lingo.py
Labels: none

Newsfragment for 3665
  newsfragments/3665.feature.rst
Labels: none

Tests for AtLeastCompoundCondition
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_compound_condition.py
Labels: none

Appease linter
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_compound_condition.py
Labels: none

feat(conditions): add :nullAddress protected context variable
  nucypher/policy/conditions/context.py
  tests/unit/conditions/test_context.py
Labels: none

Add newsfragment for PR #3668
  newsfragments/3668.feature.rst
Labels: none

Update to latest `nucypher-core` commit after PR was merged.
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

Prepare ground for signing request encryption
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  nucypher/blockchain/eth/trackers/signing.py
  nucypher/characters/lawful.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/actors/test_signing_ritual_tracker.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/ape-config.yaml
  tests/unit/crypto/test_keystore.py
Labels: none

better SigningRequestDecryptingPower code
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/unit/crypto/test_keystore.py
Labels: none

Adds newsfragment
  newsfragments/3666.dev.rst
Labels: none

Renames of request powers
  nucypher/blockchain/eth/actors.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/integration/config/test_keystore_integration.py
  tests/unit/crypto/test_keystore.py
Labels: none

Utilize encrypted signing request/responses from `nucypher-core`.
  dev-requirements.txt
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/concurrency.py
  nucypher/network/server.py
  requirements.txt
Labels: Dependencies

Combine power creation for Signing/DecryptingRequestPower into one code block since they both share a common parent class.
  nucypher/crypto/keystore.py
Labels: none

Add documentation for the various powers.
  nucypher/crypto/powers.py
Labels: none

Add Optional to typehint for signer parameter for ThresholdSigningPower since it can be None.
  nucypher/crypto/powers.py
Labels: none

Update SigningRequestPower to use `nucypher-core` objects for handling signing requests/responses.
  nucypher/crypto/powers.py
Labels: none

Update handling of signing request to leverage signing request power for decrypting/encrypting signing requests/responses.
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
Labels: none

Move handling of threshold decryption requests from Ursula to Operator. Now that it is moved previous functions exposed by Operator are no longer needed.
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
Labels: none

Appease linter.
  nucypher/crypto/powers.py
  tests/unit/test_erc4337_utils.py
  tests/utils/erc4337.py
Labels: none

Add keystore tests to ensure that recreated instance of keystore produces the same values for the new signing/decrypting request powers.
  tests/unit/crypto/test_keystore.py
Labels: none

Add unit tests for Signing/Decryping request powers.
  tests/unit/crypto/test_decrypting_request_power.py
  tests/unit/crypto/test_signing_request_power.py
Labels: none

Use latest `nucypher-core` commit.
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

Use updated feature newsfragment for #3666.
  newsfragments/3666.dev.rst
  newsfragments/3666.feature.rst
Labels: none

Fix misspelling.
  nucypher/characters/lawful.py
Labels: none

Install git during docker build so that any git dependencies can be installed; this is helpful for development builds eg. needing to use unreleased `nucypher-core` code.
  deploy/docker/Dockerfile
Labels: none

Remove lingering debugging traceback code.
  nucypher/network/server.py
Labels: none

Return BAD_REQUEST when there is an issue processing the encrypted request.
  nucypher/network/server.py
Labels: none

Address RFCs
  nucypher/policy/conditions/lingo.py
Labels: none

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
