Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt

Bump version: 7.0.0-rc.10 → 7.0.0
  .bumpversion.cfg
  nucypher/__about__.py
Labels: none

Removes "decentralized" and "blockchain" differentiation from "federated"
  nucypher/policy/policies.py
  nucypher/policy/reservoir.py
  tests/acceptance/characters/test_decentralized_grant.py
  tests/acceptance/characters/test_operator.py
  tests/acceptance/cli/test_ursula_run.py
  tests/acceptance/conditions/test_conditions.py
  tests/fixtures.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/characters/test_conditional_reencryption.py
  tests/integration/characters/test_grant_and_revoke.py
  tests/integration/cli/actions/test_auth_actions.py
  tests/integration/cli/test_ursula_cli_ip_detection.py
  tests/integration/config/test_configuration_persistence.py
  tests/integration/learning/test_domains.py
  tests/integration/network/test_failure_modes.py
  tests/integration/network/test_network_actors.py
  tests/integration/network/test_static_files.py
  tests/integration/utilities/test_prometheus_collectors.py
  tests/unit/test_bytestring_types.py
  tests/unit/test_character_serialization.py
  tests/utils/ursula.py
Labels: none

Change to ritual 0 after Lynx reboot
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  tests/constants.py
Labels: Demos

Fix Prometheus staking provider metrics test
  tests/integration/utilities/test_prometheus_collectors.py
Labels: none

Add optional python profiling to script and use profiling functionality for lynx workflow job on CI.
  .github/workflows/lynx.yml
  examples/testnet_simple_taco.py
Labels: Demos

Newsfragment
  newsfragments/3354.dev.rst
Labels: none

Make Prometheus exporter always run along Ursula
  newsfragments/3223.feature.rst
  nucypher/cli/commands/ursula.py
  nucypher/utilities/prometheus/metrics.py
Labels: CLI

updates setup.py
  setup.py
Labels: Dependencies

Remove optional imports of Prometheus
  newsfragments/3245.dev.rst
  nucypher/characters/lawful.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
  tests/integration/utilities/test_prometheus_collectors.py
  tests/unit/test_prometheus.py
Labels: none

Add mock for prometheus exporter start function
  tests/fixtures.py
Labels: none

Relock dependencies with prometheus-client as a primary dependency.
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: Dependencies

Rename host Prometheus metrics
  newsfragments/3232.removal.rst
  nucypher/utilities/prometheus/collector.py
  tests/integration/utilities/test_prometheus_collectors.py
Labels: none

Remove metrics prefix
  nucypher/cli/commands/ursula.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
  tests/integration/utilities/test_prometheus_collectors.py
  tests/unit/test_prometheus.py
Labels: CLI

Add integration test for prometheus exporter
  tests/integration/utilities/test_prometheus_collectors.py
Labels: none

Remove redundant code in test_prometheus.py
  tests/unit/test_prometheus.py
Labels: none

Add CLI tests for Prometheus
  tests/integration/cli/test_ursula_cli_prometheus.py
Labels: none

Add Prometheus metrics endpoint to running logs
  newsfragments/3231.feature.rst
  nucypher/characters/lawful.py
  tests/integration/cli/test_ursula_cli_prometheus.py
Labels: none

Disable default collector metrics
  newsfragments/3224.feature.rst
  nucypher/utilities/prometheus/metrics.py
Labels: none

newsfrag for PR #3310
  newsfragments/3310.dev.rst
Labels: none

extract 'migrate' to it's own cli command
  nucypher/cli/commands/ursula.py
Labels: CLI

one-shot derivation approach to embedding operator wallet generation
  nucypher/crypto/keystore.py
  tests/fixtures.py
  tests/integration/cli/test_cli_config.py
  tests/unit/crypto/test_keystore.py
Labels: none

handle (optional) automated operator account generation
  nucypher/cli/actions/auth.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/painting/help.py
  nucypher/config/base.py
  nucypher/config/characters.py
  nucypher/crypto/constants.py
  nucypher/crypto/keystore.py
  nucypher/crypto/utils.py
  tests/fixtures.py
  tests/integration/cli/test_mixed_config.py
  tests/integration/cli/test_ursula_config_cli.py
  tests/unit/crypto/test_keystore.py
Labels: CLI

configuration v8 -> v9 migrations
  nucypher/config/migrations/__init__.py
  nucypher/config/migrations/configuration_migration_v8_to_v9.py
  tests/integration/config/test_configuration_migrations.py
Labels: none

keystore_path -> keystore_filepath
  nucypher/cli/actions/auth.py
  nucypher/config/base.py
  nucypher/config/migrations/__init__.py
  nucypher/config/migrations/configuration_migration_v8_to_v9.py
  nucypher/config/migrations/configuration_v8_to_v9.py
  nucypher/crypto/keystore.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/unit/crypto/test_keystore.py
  tests/unit/test_wallets.py
Labels: CLI

more cleanup
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/actions/auth.py
  nucypher/cli/actions/configure.py
  nucypher/cli/commands/taco.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/options.py
  nucypher/config/base.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/migrations/configuration_v8_to_v9.py
  nucypher/crypto/keystore.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/utilities/networking.py
  tests/acceptance/actors/test_ursula_operator.py
  tests/acceptance/cli/test_ursula_init.py
  tests/acceptance/cli/test_ursula_run.py
  tests/fixtures.py
  tests/integration/cli/test_cli_config.py
  tests/integration/cli/test_mixed_config.py
  tests/integration/cli/test_ursula_cli_ip_detection.py
  tests/integration/cli/test_ursula_config_cli.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/integration/config/test_keystore_integration.py
  tests/unit/crypto/test_keystore.py
  tests/unit/test_wallets.py
  tests/utils/config.py
  tests/utils/ursula.py
Labels: CLI

relock dependencies (with bip44)
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

optimize imports
  examples/local_simple_taco.py
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  nucypher/blockchain/eth/agents.py
  nucypher/cli/actions/auth.py
  nucypher/cli/config.py
  nucypher/cli/options.py
  nucypher/config/characters.py
  nucypher/config/migrations/__init__.py
  nucypher/crypto/keypairs.py
  nucypher/crypto/keystore.py
  nucypher/policy/conditions/evm.py
  nucypher/types.py
  nucypher/utilities/ethereum.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/characters/test_wallet_signing.py
  tests/acceptance/cli/test_ursula_run.py
  tests/conftest.py
  tests/integration/blockchain/test_wallet_signature_umbral_integration.py
  tests/integration/characters/test_dkg_and_testnet_bypass.py
  tests/integration/characters/test_grant_and_revoke.py
  tests/integration/cli/test_cli_config.py
  tests/integration/cli/test_ursula_cli_ip_detection.py
  tests/integration/cli/test_ursula_config_cli.py
  tests/integration/config/test_base_configuration.py
  tests/metrics/grant_availability.py
  tests/mock/coordinator.py
  tests/unit/conftest.py
  tests/unit/registry/test_registry_basics.py
  tests/unit/test_blockchain_interface.py
  tests/unit/test_gas_strategies.py
  tests/unit/test_wallets.py
  tests/utils/blockchain.py
  tests/utils/ursula.py
Labels: CLI, Demos

docstrings for LocalAccount
  nucypher/blockchain/eth/accounts.py
Labels: none

revert dependencies, removes dependency on trezor/python-mnemonic and bip44
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

Formalize default config root mocking to ensure tests are not performing i/o on production filepaths.
  nucypher/blockchain/eth/accounts.py
  nucypher/config/base.py
  tests/fixtures.py
Labels: none

polish LocalAccount
  nucypher/blockchain/eth/accounts.py
  tests/acceptance/cli/test_ursula_run.py
  tests/unit/test_wallets.py
Labels: none

prevent pytest from executing TestAccount as a fixture
  tests/utils/blockchain.py
Labels: none

removes specialzed RPC clients/shims; Deprecated RPC accounts management APIs.
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/unlawful.py
  tests/mock/interfaces.py
  tests/unit/conftest.py
  tests/unit/test_web3_clients.py
Labels: none

updates nucypher_dkg init script; post-rebase linting
  examples/pre/heartbeat_demo/doctor.py
  nucypher/characters/lawful.py
  nucypher/cli/actions/auth.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/ursula.py
  nucypher/crypto/keypairs.py
  nucypher/crypto/keystore.py
  nucypher/policy/conditions/evm.py
  nucypher/utilities/ethereum.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/conftest.py
  tests/fixtures.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/cli/actions/test_auth_actions.py
  tests/integration/cli/test_cli_config.py
  tests/integration/cli/test_mixed_config.py
  tests/integration/cli/test_ursula_cli_ip_detection.py
  tests/integration/conftest.py
  tests/integration/learning/test_domains.py
  tests/unit/registry/test_registry_basics.py
  tests/unit/test_gas_strategies.py
  tests/unit/test_wallets.py
  tests/utils/blockchain.py
  tests/utils/config.py
Labels: CLI, Demos

updates examples to use TestAccount.from_key
  examples/local_simple_taco.py
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  nucypher/network/nodes.py
Labels: Demos

fix missing import
  nucypher/types.py
Labels: none

logging idea
  nucypher/acumen/perception.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/decorators.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/trackers/dkg.py
  nucypher/blockchain/middleware/retry.py
  nucypher/characters/lawful.py
  nucypher/cli/config.py
  nucypher/config/base.py
  nucypher/config/storages.py
  nucypher/crypto/ferveo/dkg.py
  nucypher/network/client.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/utils.py
  nucypher/policy/policies.py
  nucypher/utilities/events.py
  nucypher/utilities/logging.py
  nucypher/utilities/networking.py
  nucypher/utilities/task.py
  tests/acceptance/actors/test_ursula_operator.py
  tests/acceptance/conftest.py
  tests/constants.py
  tests/fixtures.py
  tests/unit/test_logging.py
  tests/utils/blockchain.py
  tests/utils/registry.py
Labels: CLI

mocked ETH price condition from 3rd party party API
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/offchain.py
  tests/acceptance/conditions/test_offchain_evaluation.py
Labels: none

Establish an OffchainCondition type
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/lingo.py
Labels: none

setup a test module for offchain condition evaluation
  tests/acceptance/conditions/test_offchain_evaluation.py
Labels: none
