Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt

Allow porter URL to be dynamic based on domain value.
  examples/testnet_simple_signing.py
Labels: Demos

Add dev newsfragment for #3674.
  newsfragments/3674.dev.rst
Labels: none

Add updated mainnet contract registry that includes deployed signing infra.
  nucypher/blockchain/eth/contract_registry/mainnet.json
Labels: none

Add dev newsfragment for #3675.
  newsfragments/3675.dev.rst
Labels: none

Add dev newsfragment for #3676.
  newsfragments/3676.dev.rst
Labels: none

Update tests to check URL redirects.
  tests/integration/network/test_ursula_web_status.py
Labels: none

Attempt to fix finicky test, and improve documentation of test scenarios and timeout values.
  tests/integration/utilities/test_integration_concurrency.py
Labels: none

Add extra check for ETH funding on mainnet for TACo node operator - needs ETH for signing ritual txs. Commonize funding checks for ETH and POL. Use POL as funding unit instead of MATIC.
  nucypher/blockchain/eth/actors.py
Labels: none

Update tests for node start up funding checks given that ETH funding is now also required (for signing ritual txs).
  tests/integration/actors/test_integration_operator.py
Labels: none

Add feature newsfragment for #3677.
  newsfragments/3677.feature.rst
Labels: none

Add random jitter for nodes in signing cohort to post a signature during signing ritual to limit gas estimation issues for last node for which there is extra processing that is needed.
  nucypher/blockchain/eth/actors.py
Labels: none

Add auto-use fixture to limit maximum post signature delay for signing rituals during tests.
  tests/fixtures.py
Labels: none

Add dev newsfragment for #3678.
  newsfragments/3678.dev.rst
Labels: none

Ensure that py-solc-x version >= 2.0.5 is used since old solc binary URL was deprecated, and 2.0.5 uses an updated URL.
  pyproject.toml
Labels: none

Relock dependencies after updating py-solc-x dependency requirement.
  dev-requirements.txt
  poetry.lock
  requirements.txt
Labels: Dependencies

Add dev newsfragment for #3679.
  newsfragments/3679.dev.rst
Labels: none

Add custom strtobool implementation now that distutils has been removed in python 3.12. Add unit test to ensure consistency with old implementation.
  nucypher/cli/utils.py
  tests/unit/test_cli_utils.py
Labels: CLI

Properly use f-string for validation error message. Update test that allowed this bug to slip under the cracks.
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_compound_condition.py
Labels: none

Add dev newsfragment for #3681. While this fixed a bug, the bug was never previously released.
  newsfragments/3681.dev.rst
Labels: none

feat(conditions): add pow exponent operator for variable operations
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

refactor(conditions): expand condition limits
  nucypher/policy/conditions/base.py
  tests/unit/conditions/test_compound_condition.py
  tests/unit/conditions/test_if_then_else_condition.py
  tests/unit/conditions/test_sequential_condition.py
Labels: none

docs: add newsfragment for #3683
  newsfragments/3683.feature.rst
Labels: none

refactor(conditions): replace pow with *pow= operator for token decimals
  newsfragments/3683.feature.rst
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Update NetworkRequestClient to add failure messages for nodes when they don't respond before the timeout is expired. Otherwise, this leaves empty failure messages for unresponsive nodes. Added tests.
  nucypher/network/concurrency.py
  tests/acceptance/actors/test_dkg_ritual.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: none

Add bugfix newsfragment for #3686.
  newsfragments/3686.bugfix.rst
Labels: none

refactor(conditions): replace *pow= with toTokenBaseUnits operator
  newsfragments/3683.feature.rst
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/utils.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Update newsfragments/3683.feature.rst
  newsfragments/3683.feature.rst
Labels: none

feat(conditions): add eval_with_details() method for debug info
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_condition_lingo.py
Labels: none

feat(conditions): add debug_mode parameter to evaluate_condition_lingo
  nucypher/policy/conditions/utils.py
  tests/unit/conditions/test_utils.py
Labels: none

feat(conditions): enable debug mode for Lynx domain
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
Labels: none

Add newsfragment for PR #3680
  newsfragments/3680.feature.rst
Labels: none

test: add coverage for SequentialCondition and IfThenElseCondition failure details
  tests/unit/conditions/test_condition_lingo.py
Labels: none

fix: mock eval_with_details in integration tests for debug_mode
  tests/integration/characters/test_conditional_reencryption.py
Labels: none

test: add real behavioral tests for eval_with_details()
  tests/acceptance/conditions/test_conditions.py
  tests/unit/conditions/test_condition_lingo.py
Labels: none

refactor(conditions): limit debug mode to Lynx domain only
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
  tests/integration/characters/test_conditional_reencryption.py
Labels: none

refactor(conditions): use isinstance() instead of hasattr() for return_value_test
  nucypher/policy/conditions/lingo.py
Labels: none

refactor(conditions): log debug info instead of returning in error message
  nucypher/policy/conditions/utils.py
  tests/unit/conditions/test_utils.py
Labels: none

Let's not worry about lynx debug details for PRE (which we don't support anymore).
  nucypher/network/server.py
Labels: none

domain is an enum so we can simply compare the enum for when determining whether using debug mode or not.
  nucypher/blockchain/eth/actors.py
Labels: none

Ensure every condition has a default string representation that is it's class name. Sub-classes can modify this representation but at least there is a default.
  nucypher/policy/conditions/base.py
Labels: none
