Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt

Reference unit test script from its new location.
  .pre-commit-config.yaml
Labels: none

Move development scripts to a dev subfolder within scripts.
  scripts/dev/network_client_versions.py
  scripts/dev/nucypher_agents.py
  scripts/dev/nucypher_dkg.py
  scripts/dev/relock_dependencies.sh
  scripts/dev/rpc_endpoint_stress_test.py
  scripts/dev/run_unit_tests.sh
  scripts/dev/smoketest_package.py
Labels: none

Ensure relevant files are included, and other unnecessary files excluded from python distribution.
  MANIFEST.in
Labels: none

Add dev newsfragment for #3719.
  newsfragments/3719.dev.rst
Labels: none

Move development scripts to a dev subfolder within scripts.
  .pre-commit-config.yaml
  scripts/dev/network_client_versions.py
  scripts/dev/nucypher_agents.py
  scripts/dev/nucypher_dkg.py
  scripts/dev/relock_dependencies.sh
  scripts/dev/rpc_endpoint_stress_test.py
  scripts/dev/run_unit_tests.sh
  scripts/dev/smoketest_package.py
Labels: none

Exclude extra files/folders from docker image.
  .dockerignore
  MANIFEST.in
  newsfragments/3719.dev.rst
  setup.py
Labels: Dependencies

feat: rewrite package smoke test with zero hardcoded values
  scripts/dev/smoketest_package.py
Labels: none

Update manifest file with additional files.
  MANIFEST.in
Labels: none

feat: rewrite package smoke test with zero hardcoded values
  scripts/dev/smoketest_package.py
Labels: none

Add random shuffling of extra (non-preferred) endpoints before sorting to better spread load across endpoints, and reduce consecutive failures from overloading especially at startup.
  nucypher/utilities/endpoint.py
Labels: none

Add dev newsfragment for #3720.
  newsfragments/3720.dev.rst
Labels: none

Added experimental sorting strategy (that I did not end up using after testing); but good to explore none the less so committing to repos.
  scripts/dev/rpc_endpoint_stress_test.py
Labels: none

It's possible for API keys to be included as part of the URL query, obfuscate those instances as well. Added unit tests.
  nucypher/blockchain/eth/utils.py
  tests/unit/test_blockchain_utils.py
Labels: none

Add bugfix newsfragment for #3721.
  newsfragments/3721.bugfix.rst
Labels: none

Additional test cases to further improve code coverage.
  tests/unit/test_blockchain_utils.py
Labels: none

docs: add newsfragment for #3685
  newsfragments/3685.feature.rst
  tests/unit/conditions/test_condition_lingo.py
Labels: none

feat(signing): Add unified subIndices for ABI parameter validation
  nucypher/policy/conditions/signing/base.py
  nucypher/policy/conditions/types.py
  nucypher/utilities/abi.py
  tests/unit/conditions/test_signing_condition.py
  tests/unit/test_abi_utils.py
Labels: none

fix(conditions): Address PR review feedback for subIndices
  nucypher/policy/conditions/signing/base.py
  nucypher/policy/conditions/types.py
  nucypher/utilities/abi.py
  tests/unit/conditions/test_signing_condition.py
Labels: none

fix(conditions): Use InvalidCondition for ABI validation errors and remove snake_case from error messages
  nucypher/policy/conditions/signing/base.py
  tests/unit/conditions/test_signing_condition.py
Labels: none

feat: eRPC transparent RPC proxy for Ursula
  deploy/docker/Dockerfile
  newsfragments/43.feature.rst
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/config/constants.py
  nucypher/utilities/prometheus/metrics.py
  nucypher/utilities/rpc_proxy.py
  requirements.txt
  tests/unit/test_rpc_proxy.py
Labels: CLI, Dependencies

Phase 2: skip retry/cache middleware when eRPC proxy is active
  ERPC_MIGRATION_PLAN.md
  nucypher/blockchain/eth/clients.py
Labels: none

Address PR #43 review feedback
  deploy/docker/Dockerfile
  deploy/docker/install_erpc.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/prometheus/metrics.py
  nucypher/utilities/rpc_proxy.py
Labels: CLI

refactor: move eRPC proxy from Ursula into BlockchainInterfaceFactory
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/rpc_proxy.py
  tests/unit/test_rpc_proxy.py
Labels: CLI

refactor: address PR #43 review — clean proxy separation
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
Labels: CLI

fix: get eRPC proxy from factory, not ursula attribute
  nucypher/utilities/prometheus/metrics.py
Labels: none

fix(conditions): Keep ValueError in AbiCallValidation, update newsfragment
  newsfragments/3685.feature.rst
  nucypher/policy/conditions/signing/base.py
  tests/unit/conditions/test_signing_condition.py
Labels: none

feat: modernize Ursula status page with dark Web3 aesthetic
  nucypher/network/templates/basic_status.mako
Labels: none

fix: graceful degradation when RPC is unavailable
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/prometheus/collector.py
Labels: CLI

fix: get eRPC proxy from factory, not ursula attribute
  nucypher/utilities/prometheus/metrics.py
Labels: none

refactor: move eRPC proxy from Ursula into BlockchainInterfaceFactory
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/rpc_proxy.py
  tests/unit/test_rpc_proxy.py
Labels: CLI

fix: preserve full tracebacks instead of repr() in RPC proxy logging
  nucypher/utilities/rpc_proxy.py
Labels: none

Address PR #43 review feedback
  deploy/docker/Dockerfile
  deploy/docker/install_erpc.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/prometheus/metrics.py
  nucypher/utilities/rpc_proxy.py
Labels: CLI

refactor: address PR #43 review — clean proxy separation
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
Labels: CLI

feat: eRPC transparent RPC proxy for Ursula
  deploy/docker/Dockerfile
  newsfragments/43.feature.rst
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/config/constants.py
  nucypher/utilities/prometheus/metrics.py
  nucypher/utilities/rpc_proxy.py
  requirements.txt
  tests/unit/test_rpc_proxy.py
Labels: CLI, Dependencies

fix: whitelist install_erpc.py in .dockerignore
  .dockerignore
Labels: none

fix: read config JSON directly to avoid premature interface caching
  nucypher/cli/commands/ursula.py
Labels: CLI

fix: resolve domain string to TACoDomain object for eRPC proxy
  nucypher/cli/commands/ursula.py
Labels: CLI

fix: make /status/ resilient to RPC timeouts + fix Twisted log formatting
  nucypher/characters/lawful.py
  nucypher/network/server.py
Labels: none

refactor: replace LoopingCall with Twisted ProcessProtocol for eRPC lifecycle
  nucypher/blockchain/eth/interfaces.py
  nucypher/utilities/rpc_proxy.py
  tests/unit/test_rpc_proxy.py
Labels: none

fix: use structured logging instead of manual brace escaping in /status/
  nucypher/network/server.py
Labels: none
