Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

Reset requirements files to match what is on `main`.
  .github/workflows/python_tests.yml
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

manually add ecdsa dependency to dev-requirements.txt
  dev-requirements.txt
Labels: Dependencies

Add ecdsa to the requirements.txt
  requirements.txt
Labels: Dependencies

Fix deprecation warnings for use_fixtures.
  tests/acceptance/agents/test_coordinator_agent.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/conftest.py
Labels: none

manual ssh debug step for gh actions
  .github/workflows/python_tests.yml
Labels: none

Use v4 of gh cache action.
  .github/workflows/lynx.yml
  .github/workflows/python_tests.yml
Labels: none

Only start SSH session if previous step(s) failed.
  .github/workflows/python_tests.yml
Labels: none

Relock dependencies.
  dev-requirements.txt
  poetry.lock
  requirements.txt
Labels: Dependencies

Don't extend contract from `nucypher-contracts` (for now) - this seems to be the main cause of our test failures with ape. Will need to better address later.
  tests/acceptance/contracts/ThresholdSigningCohortMultisig.sol
Labels: none

Remove ssh session from gh action that was only added for investigation of test failure.
  .github/workflows/python_tests.yml
Labels: none

Cleanup printing of signatures for signing test script.
  examples/testnet_simple_signing.py
Labels: Demos

Update constants.py
  nucypher/config/constants.py
Labels: none

Make latest adjustments based on cross-chain capabilities added to `nucypher-contracts`.
  examples/testnet_simple_signing.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  nucypher/blockchain/eth/trackers/signing.py
  nucypher/types.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/conftest.py
Labels: Demos

exposes message hash from signed messages
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  nucypher/crypto/powers.py
  nucypher/network/server.py
  nucypher/types.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/characters/test_transacting_power.py
  tests/fixtures.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
  tests/unit/conditions/test_evm_auth.py
  tests/unit/test_keystore_signer.py
  tests/unit/test_memory_signer.py
Labels: none

updates Bob signing method to handle ThresholdSigningResponse
  nucypher/characters/lawful.py
Labels: none

exposes message hash from message transacting power message functions
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  nucypher/crypto/powers.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/characters/test_transacting_power.py
  tests/fixtures.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
  tests/unit/conditions/test_evm_auth.py
  tests/unit/test_keystore_signer.py
  tests/unit/test_memory_signer.py
Labels: none

render ThresholdSigningResponse for signing requests
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
  nucypher/types.py
Labels: none

handles tuple unpacking of message hash from signing in select tests (can be squashed)
  tests/acceptance/characters/test_transacting_power.py
Labels: none

Updates Signature request protocol objects to handle multiple eips.
  examples/testnet_simple_signing.py
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/decryption.py
  nucypher/network/server.py
  nucypher/types.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: Demos

exposes message hash from signed messages
  nucypher/blockchain/eth/actors.py
  nucypher/types.py
  tests/acceptance/characters/test_transacting_power.py
Labels: none

exposing eip 712 encoding on power internals
  examples/testnet_simple_signing.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  nucypher/crypto/powers.py
  nucypher/network/decryption.py
  nucypher/network/server.py
  nucypher/network/signing.py
  nucypher/types.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/characters/test_transacting_power.py
  tests/acceptance/conditions/test_conditions.py
  tests/acceptance/conditions/test_signing_cohort.py
  tests/fixtures.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
  tests/unit/conditions/test_evm_auth.py
  tests/unit/test_keystore_signer.py
  tests/unit/test_memory_signer.py
Labels: Demos

Introduces UserOp EIP-712 structures.
  examples/testnet_simple_signing.py
  nucypher/characters/lawful.py
  nucypher/network/decryption.py
  nucypher/network/server.py
  nucypher/network/signing.py
  nucypher/types.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/fixtures.py
  tests/unit/test_keystore_signer.py
Labels: Demos

preperations for userop 712 compatibility
  nucypher/blockchain/eth/actors.py
  nucypher/network/signing.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/ape-config.yaml
  tests/acceptance/conftest.py
Labels: none

exposes message hash from signed messages
  nucypher/blockchain/eth/actors.py
  nucypher/types.py
  tests/acceptance/characters/test_transacting_power.py
Labels: none

use secreto-old deps
  tests/acceptance/ape-config.yaml
Labels: none

properly pass signing responses up the stack from bob
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  nucypher/crypto/powers.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: none

updates simple signing example for use with ThresholdSigningResponse
  examples/testnet_simple_signing.py
  nucypher/characters/lawful.py
Labels: Demos

temporarily remove signature request type (future feature)
  nucypher/types.py
Labels: none

Respond to RFCs for #3596.
  nucypher/blockchain/eth/actors.py
Labels: none

Make latest adjustments based on cross-chain capabilities added to `nucypher-contracts`.
  examples/testnet_simple_signing.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  nucypher/blockchain/eth/trackers/signing.py
  nucypher/characters/lawful.py
  nucypher/types.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/conftest.py
Labels: Demos

Fix deployments of test contracts based on changes in `nucypher-contracts` to maintain parent->child ordering of deployment.
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/conftest.py
Labels: none

Add ability to obtain coordinator child contract address (although on different chain) from signing coordinator.
  nucypher/blockchain/eth/agents.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
Labels: none

Go back to using the `secreto` branch for nucypher-contracts.
  tests/acceptance/ape-config.yaml
Labels: none

Update copied contract from `nucypher-contracts` (with some additional functionality for musings) to match updates from `nucypher-contracts`.
  tests/acceptance/contracts/ThresholdSigningCohortMultisig.sol
Labels: none

Check that condition is configured for chain when processing threshold signing request; if not, raise exception since condition must be present.
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: none

Perform signing within the `ThresholdSigningClient` since it is used by both Bob and Porter. Updates and clean up for simple signing example (Bob part of script won't work until I update lynx).
  examples/testnet_simple_signing.py
  nucypher/characters/lawful.py
  nucypher/network/decryption.py
Labels: Demos

Update tests and github registry url to point to the latest deployments.
  nucypher/blockchain/eth/registry.py
  tests/acceptance/ape-config.yaml
Labels: none

Appease linter.
  examples/testnet_simple_signing.py
Labels: Demos

Add feature newsfragment for #3594.
  newsfragments/3594.feature.rst
Labels: none

Copy latest lynx.json contract registry after signing infra deployment.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
