Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

signing request endpoint
  nucypher/network/server.py
  nucypher/policy/conditions/ecdsa.py
  nucypher/policy/conditions/lingo.py
  tests/integration/conditions/test_ecdsa_condition_json.py
Labels: none

Signing fulfilment implementation
  nucypher/characters/lawful.py
  nucypher/network/server.py
Labels: none

simplified and corrected signing fulfilment, composes signing methods on Operator with format agmostic aigning by TransactingPower, includes cohort membership verification.
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/server.py
  nucypher/types.py
Labels: none

Avoid fixture naming clash.
  tests/acceptance/conftest.py
Labels: none

Adjust tests for initiator role required for initiating a signing ritual. Todo: figure out why granting of the role can't be done in conftest.
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
Labels: none

Adjust location where contract registries are obtained (for now).
  nucypher/blockchain/eth/registry.py
Labels: none

Update lynx contract registry to match that in nucypher-contracts secreto.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Relock dependencies so that `ecdsa` is included in requirements file.
  dev-requirements.txt
  poetry.lock
  requirements.txt
  scripts/relock_dependencies.sh
Labels: Dependencies

Increase gas estimation when posting signature.
  nucypher/blockchain/eth/agents.py
Labels: none

relock dependencies with marshmallow <4 pinned to avoid backwards incompatibility
  dev-requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: Dependencies

fixes ursula status endpoint unintention redirect (HTTP 308); satisfy the linting gods
  nucypher/network/server.py
  nucypher/types.py
Labels: none

Only run pythont tests for python v3.12 for now - I think the ape issue is related to python 3.9.
  .github/workflows/python_tests.yml
Labels: none

Serialization for ThresholdSignatureRequest and unit testing enrico's handling of signing requests
  nucypher/characters/lawful.py
  nucypher/network/middleware.py
  nucypher/types.py
  tests/unit/characters/test_enrico_signing.py
Labels: none

python threshold signing API on Enrico and aupporting internal methods
  nucypher/characters/lawful.py
  nucypher/network/middleware.py
Labels: none

relocates signature request formation on Bob
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  tests/unit/characters/test_enrico_signing.py
Labels: none

repurposes decryption client for use with concurrent signing request
  nucypher/network/decryption.py
Labels: none

stub for ThresholdSignatureResponse; corrects signing request internal contract handling
  nucypher/network/server.py
  nucypher/types.py
Labels: none

passing test for concurrent signing request fulfilment by Bob
  tests/acceptance/actors/test_dkg_ritual.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: none

simple signing example via porter sampling
  examples/testnet_simple_signing.py
  nucypher/characters/lawful.py
Labels: Demos

Update lynx contract registry to latest in `nucypher-contracts` `secreto`.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Update models, agent, and tests to reflect updated signing coordinator contract that stores conditions.
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
Labels: none

Update threshold signing requests and sign endpoint now that conditions are stored in the signing coordinator contract.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/network/decryption.py
  nucypher/network/server.py
  nucypher/types.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
Labels: none

Update example script for testing signing requests on testnet based on latest changes to `nucypher` and to `nucypher-porter`.
  examples/testnet_simple_signing.py
Labels: Demos

relocates porer base URL in api examples to an envvar.
  examples/testnet_simple_signing.py
Labels: Demos

include testnet signing exaample/demo execution in CI
  .github/workflows/lynx.yml
  examples/testnet_simple_signing.py
Labels: Demos

fixes incorrect kwarg usage
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/trackers/signing.py
Labels: none

linting (darker)
  examples/testnet_simple_signing.py
  nucypher/acumen/__init__.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/trackers/__init__.py
  nucypher/blockchain/middleware/__init__.py
  nucypher/characters/__init__.py
  nucypher/characters/lawful.py
  nucypher/cli/__init__.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/__init__.py
  nucypher/cli/painting/__init__.py
  nucypher/crypto/__init__.py
  nucypher/crypto/ferveo/__init__.py
  nucypher/datastore/__init__.py
  nucypher/network/decryption.py
  nucypher/network/middleware.py
  nucypher/policy/__init__.py
  nucypher/policy/conditions/abis.json
  nucypher/utilities/__init__.py
  nucypher/utilities/prometheus/__init__.py
  tests/__init__.py
  tests/acceptance/actors/test_dkg_ritual.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
Labels: CLI, Demos

Reset requirements files to match what is on `main`.
  .github/workflows/python_tests.yml
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

manually add ecdsa dependency to dev-requirements.txt
  dev-requirements.txt
Labels: Dependencies

Add ecdsa to the requirements.txt
  requirements.txt
Labels: Dependencies

Fix deprecation warnings for use_fixtures.
  tests/acceptance/agents/test_coordinator_agent.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/conftest.py
Labels: none

manual ssh debug step for gh actions
  .github/workflows/python_tests.yml
Labels: none

Use v4 of gh cache action.
  .github/workflows/lynx.yml
  .github/workflows/python_tests.yml
Labels: none

Only start SSH session if previous step(s) failed.
  .github/workflows/python_tests.yml
Labels: none

Relock dependencies.
  dev-requirements.txt
  poetry.lock
  requirements.txt
Labels: Dependencies

Don't extend contract from `nucypher-contracts` (for now) - this seems to be the main cause of our test failures with ape. Will need to better address later.
  tests/acceptance/contracts/ThresholdSigningCohortMultisig.sol
Labels: none

Remove ssh session from gh action that was only added for investigation of test failure.
  .github/workflows/python_tests.yml
Labels: none

Cleanup printing of signatures for signing test script.
  examples/testnet_simple_signing.py
Labels: Demos

Update constants.py
  nucypher/config/constants.py
Labels: none

render ThresholdSigningResponse for signing requests
  nucypher/blockchain/eth/actors.py
  nucypher/network/server.py
  nucypher/types.py
Labels: none

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
