Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

Add at-least condition to the lingo_with_all_condition_types fixture
  tests/unit/conditions/test_condition_lingo.py
Labels: none

Update `nucypher-core` dependency to latest commit on `main`. Update ape-config.yaml to use latest `nucypher-contracts` on `main` now that associated PR is merged.
  dev-requirements.txt
  pyproject.toml
  requirements.txt
  tests/acceptance/ape-config.yaml
Labels: Dependencies

Update lynx registry based on latest deployments.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Use unmerged branch that currently has the updated registry - drop this commit once that PR is merged.
  nucypher/blockchain/eth/registry.py
Labels: none

Add dev newsfragment for #3669.
  newsfragments/3669.dev.rst
Labels: none

Update lynx registry based on latest deployments.
  nucypher/blockchain/eth/contract_registry/lynx.json
Labels: none

Update example test script to use/process encrypted signing requests and responses. Update arguments used for Porter's updated /sign endpoint that uses end-to-end encryption.
  examples/testnet_simple_signing.py
Labels: Demos

Fix bug with handling of context's associated with signing request. Add test to ensure that we test both cases of providing a context and not providing a context.
  nucypher/blockchain/eth/actors.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: none

Add reference to "at-least" condition in types.py
  nucypher/policy/conditions/types.py
Labels: none

Use `nucypher-contracts` signing epic branch now that related PR was merged.
  nucypher/blockchain/eth/registry.py
Labels: none

Fix deployment of proxied dispatcher contract in acceptance tests.
  tests/acceptance/conftest.py
Labels: none

Address PR review comments: move imports to module level and add parameter documentation
  nucypher/policy/conditions/context.py
  tests/unit/conditions/test_context.py
Labels: none

Update to latest `nucypher-core` changes for using uint256 for nonce values. Add tests for larger nonce values that accommodate uint256 types.
  dev-requirements.txt
  requirements.txt
  tests/acceptance/actors/test_user_op_processing.py
  tests/unit/test_erc4337_utils.py
Labels: Dependencies

Add dev newsfragment for #3671.
  newsfragments/3671.dev.rst
Labels: none

Update constant name.
  tests/unit/test_erc4337_utils.py
Labels: none

TREASURY_ROLE is no longer used in Coordinator contract.
  tests/acceptance/conftest.py
Labels: none

feat(conditions): add JSON, hex, and keccak operators
  nucypher/policy/conditions/lingo.py
Labels: none

test(conditions): add tests for JSON, hex, and keccak operators
  tests/unit/conditions/test_variable_operation.py
Labels: none

test(conditions): add JSON-API tests for variable operations
  tests/unit/conditions/test_json_api_condition.py
Labels: none

crafting a simulated discord payload compunded with ecdsa condition
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

Add newsfragment for PR #3664
  newsfragments/3664.feature.rst
Labels: none

expands sequential condition testing to demo concatenation of context params passed into ECDSA vars.
  tests/integration/conditions/test_ecdsa_condition_integration.py
Labels: none

Address PR feedback: fix toHex operator and improve test quality
  nucypher/policy/conditions/lingo.py
  tests/integration/conditions/test_ecdsa_condition_integration.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Address Derek's second round of PR feedback
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

refactor(conditions): simplify keccak operator to use native type handling
  nucypher/policy/conditions/lingo.py
Labels: none

test(conditions): fix keccak(int) test case and type error skip lists
  tests/unit/conditions/test_variable_operation.py
Labels: none

Update variable operation type error to account for new operations: to/fromJson, to/fromHex, keccak.
  tests/unit/conditions/test_variable_operation.py
Labels: none

Skip early return type and return value test value type validations when return value test has operations since operations change the value used for comparison.
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/time.py
Labels: none

Add unit tests to ensure that returnValueTest value type checks are skipped when operations are defined on the returnVaueTest.
  tests/unit/conditions/test_contract_condition.py
  tests/unit/conditions/test_rpc_condition.py
  tests/unit/conditions/test_time_condition.py
Labels: none

Add dev newsfragment for #3672.
  newsfragments/3672.dev.rst
Labels: none

Make returnValueTest optional in TypedDict definitions
  nucypher/policy/conditions/types.py
Labels: none

Add direct_construction flag to schema validation context
  nucypher/policy/conditions/base.py
Labels: none

Propagate in_condition_variable context for optional returnValueTest
  nucypher/policy/conditions/lingo.py
Labels: none

Make returnValueTest optional in condition classes
  nucypher/policy/conditions/json/json.py
  nucypher/policy/conditions/signing/base.py
  nucypher/policy/conditions/var.py
Labels: none

Handle optional returnValueTest in RPC and time conditions
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/json/base.py
  nucypher/policy/conditions/time.py
Labels: none

Add tests for optional returnValueTest in condition variables
  tests/unit/conditions/test_optional_return_value_test.py
  tests/unit/conditions/test_sequential_condition.py
Labels: none

Refactor TestOptionalReturnValueTest to module-level functions
  tests/unit/conditions/test_sequential_condition.py
Labels: none

Update tests for optional returnValueTest behavior
  tests/unit/conditions/test_context_var_condition.py
  tests/unit/conditions/test_optional_return_value_test.py
Labels: none

Refactor test_optional_return_value_test.py to pytest standard format
  tests/unit/conditions/test_optional_return_value_test.py
Labels: none

Add updated tapir contract registry that includes deployed signing infra.
  nucypher/blockchain/eth/contract_registry/tapir.json
Labels: none

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
