Repository KPrasch/nucypher, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, Demos, Dependencies

Rename calc_from_list to evaluate_operations, and _calc to _evaluate.
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Utilize ethToWei operation for test.
  tests/unit/conditions/test_signing_condition.py
Labels: none

Better strategy for detecting unary operations.
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/utils.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Appease linter.
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/utils.py
Labels: none

Code cleanup based on RFCs from review.
  tests/unit/conditions/test_return_value.py
  tests/unit/conditions/test_variable_operation.py
Labels: none

Remove EIP191 signature support from Ursula /sign endpoint
  nucypher/network/signing.py
Labels: none

Remove EIP191 signature support from Ursula
  examples/testnet_simple_signing.py
  nucypher/network/signing.py
  nucypher/policy/conditions/signing/base.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: Demos

No need to log condition evaluation unless it's for debugging
  nucypher/policy/conditions/utils.py
Labels: none

Don't log if there's no matches for JSONPath query, only for debugging
  nucypher/policy/conditions/json/utils.py
Labels: none

Newsfragment for #3661
  newsfragments/3661.feature.rst
Labels: none

Remove unnecessary import. Clean up output formatting.
  examples/testnet_simple_signing.py
  tests/acceptance/actors/test_signing_ritual.py
Labels: Demos

Add dev newsfragment for #3644.
  newsfragments/3644.dev.rst
Labels: none

Apply RFC from #3644.
  examples/testnet_simple_signing.py
Labels: Demos

Improve consistency of logging during condition evaluation
  nucypher/policy/conditions/json/utils.py
  nucypher/policy/conditions/utils.py
Labels: none

Increase number of conditions (condition variables) that can be used within a SequentialCondition from 5 to 10. This allows for more values to be checked as part of one sequential condition.
  nucypher/policy/conditions/lingo.py
Labels: none

Update test to account for increased value of max num conditions for sequential condition.
  tests/unit/conditions/test_sequential_condition.py
Labels: none

Add test to mimic obtaining values from discord message and then performing operations and processing those values.
  tests/unit/conditions/test_sequential_condition.py
Labels: none

Fix misspelling.
  tests/unit/conditions/test_sequential_condition.py
Labels: none

Call level replaced by boolean for top_level_call. Code cleanup for if-elif for clearer logic.
  nucypher/policy/conditions/lingo.py
Labels: none

Add newsfragments for #3662.
  newsfragments/3662.bugfix.rst
  newsfragments/3662.feature.rst
Labels: none

Handle edge cases of strings of length <= 1 and simplify logic. Add relevant test cases to show case edge cases for strings.
  nucypher/policy/conditions/lingo.py
  tests/unit/conditions/test_return_value.py
Labels: none

initial dedicated signing wallet derivation and hookup
  nucypher/blockchain/eth/actors.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
Labels: none

Follow up work with tests
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  tests/unit/crypto/test_keystore.py
Labels: none

Extract signer address from operator
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  nucypher/characters/lawful.py
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  nucypher/network/concurrency.py
  nucypher/network/signing.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/actors/test_signing_ritual_tracker.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
  tests/acceptance/ape-config.yaml
Labels: none

Adds newsfragment
  newsfragments/3659.dev.rst
Labels: none

Move instantiation of trackers to the end of the Operator.__init__ method since these take operators as parameters; ensure that the operator is fully initialized before passing along.
  nucypher/blockchain/eth/actors.py
Labels: none

Update test fixture to only pass the InMemorySigner when instantiating the test ThresholdSigningPower.
  tests/acceptance/agents/test_signing_coordinator_agent.py
Labels: none

Apply RFC from #3659.
  nucypher/crypto/keystore.py
  nucypher/crypto/powers.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
Labels: none

Adapt latest changes in contract
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/models.py
  nucypher/blockchain/eth/trackers/signing.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/actors/test_signing_ritual_tracker.py
  tests/acceptance/agents/test_signing_coordinator_agent.py
Labels: none

Operator should use registry provided in constructor and not instantiate a new one.
  nucypher/blockchain/eth/actors.py
Labels: none

Pass registry to light ursula for tests.
  tests/fixtures.py
Labels: none

Add bugfix newsfragment for #3663.
  newsfragments/3663.bugfix.rst
Labels: none

feat(conditions): add JSON, hex, and keccak operators
  nucypher/policy/conditions/lingo.py
Labels: none

test(conditions): add tests for JSON, hex, and keccak operators
  tests/unit/conditions/test_variable_operation.py
Labels: none

test(conditions): add JSON-API tests for variable operations
  tests/unit/conditions/test_json_api_condition.py
Labels: none

Apply RFC from #3659.
  newsfragments/3659.dev.rst
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/concurrency.py
Labels: none

Changing back ape-config.yaml
  tests/acceptance/ape-config.yaml
Labels: none

Relock dependency based on github nucypher-core dependency for now that provides common objects for signing.
  dev-requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: Dependencies

Use signing objects that were moved to `nucypher-core` including objects for (Packed)UserOperation, signing requests, and signing responses.
  examples/testnet_simple_signing.py
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/network/concurrency.py
  nucypher/network/server.py
  nucypher/network/signing.py
  nucypher/utilities/erc4337_utils.py
  tests/acceptance/actors/test_signing_ritual.py
  tests/acceptance/actors/test_user_op_processing.py
  tests/unit/test_erc4337_utils.py
  tests/utils/erc4337.py
Labels: Demos

Update `nucypher-core` dependency commit.
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

.github/labeler.yml:

ETH Contracts:
  - nucypher/blockchain/eth/sol/source/**/*

CLI:
  - nucypher/cli/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
